<nav class="navbar fixed-top text-white" style="background-color: rgb(47, 198, 209);height: 50px;">
    <div class="container-fluid">
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="offcanvas offcanvas-start text-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="background-color: rgb(47, 198, 209)">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ข้อมูลผู้ใช้</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                ติดตามรถ
              </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="dashboard">ตำแหน่งปัจจุบัน</a></li>
                  <li><a class="dropdown-item" href="#">ข้อมูลเดินทาง</a></li>
                  <li><a class="dropdown-item text-primary" href="dashboardWorkingGroupFFComponent">ตำแหน่งกลุ่มงานFF</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class='fas fa-stream'></i>ตั้งค่า
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">ผู้ใช้งาน</a></li>
                  <li><a class="dropdown-item" href="#">ข้อมูลรถ</a></li>
                  <li><a class="dropdown-item" href="#">ประเภทรถ</a></li>
                  <li><a class="dropdown-item" href="#">ผู้รับเหมา/เจ้าของรถ</a></li>
                  <li><a class="dropdown-item" href="#">ผู้ให้บริการจีพีเอส</a></li>
                  <li><a class="dropdown-item" href="#">กลุ่มรถ</a></li>
                  <li><a class="dropdown-item" href="#">ที่ตั้งสถานที่</a></li>
                  <li><a class="dropdown-item" href="#">จัดการกลุ่มไลน์</a></li>
                  <li><a class="dropdown-item" href="#">ส่งข้อมูลไประบบอ้อย</a></li>
                  <li><a class="dropdown-item" href="#">จัดการกลุ่มงาน</a></li>
                  <li><a class="dropdown-item" href="#">ที่ตั้งโรงงาน</a></li>
                  <li><a class="dropdown-item" href="#">จัดการกลุ่มไลน์ TMS</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  สถานะรับ-ส่งข้อมูล
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">ข้อมูลกล่องเรียลไทม์</a></li>
                  <li><a class="dropdown-item" href="#">ข้อมูลรถไม่อัพเดท</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  รายงาน
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">ตรวจสอบสถานะงานแฟร์ฟาสท์</a></li>
                  <li><a class="dropdown-item" href="#">ประวัติการเดินทาง</a></li>
                  <li><a class="dropdown-item" href="#">รถที่ใช้ความเร็วเกินกำหนด</a></li>
                  <li><a class="dropdown-item" href="#">บันทึกการจอดรถ</a></li>
                  <li><a class="dropdown-item" href="#">เข้า-ออกสถานที่</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Log out</a>
            </li>
          </ul>
          
          <!-- <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
      <a class="navbar-brand" style="color: white;" href="#">ดาวน์โหลดคู่มือ</a>

    </div>
  </nav>